@mixin font($font-size, $line-height, $font-weight){
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}
$breakpoints: (
  tablet: 768px,
  desktop: 1750px,
);
@mixin screen ($breakpoint){
  @if map-has-key($map: $breakpoints, $key: $breakpoint){
    @media(min-width: map-get($breakpoints, $breakpoint)){
      @content
    }
  }
}