@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: rgb(255, 255, 255);
}

.subscribe {
  position: relative;
  background-color: rgba(0, 0, 0, 0.4431372549); /*для фона, если картинка не прогрузится*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.49)), url(/img/background_sneakers.jpg);
  background-position: center;
  background-size: 170%;
}
@media (min-width: 834px) {
  .subscribe {
    background-size: 100%;
    background-position: center;
  }
}

.subscribe__container {
  width: 100%;
  padding: 72px 35px 71px;
}
@media (min-width: 834px) {
  .subscribe__container {
    padding: 50px 71px 49px;
  }
}
@media (min-width: 1750px) {
  .subscribe__container {
    padding: 123.5px 395.47px;
  }
}

.subscribe__content {
  max-width: 959.06px;
  margin: 0 auto;
}

.subscribe__description {
  margin-bottom: 24px;
}

.subscribe__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  font-style: italic;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-bottom: 8px;
}
@media (min-width: 834px) {
  .subscribe__title {
    font-size: 48px;
    line-height: 48px;
    font-weight: 600;
  }
}
@media (min-width: 1750px) {
  .subscribe__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 600;
  }
}

.subscribe__text {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  font-family: "Open sans", sans-serif;
  text-align: center;
  max-width: 380px;
  margin: 0 auto;
}
@media (min-width: 834px) {
  .subscribe__text {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
  }
}
@media (min-width: 1750px) {
  .subscribe__text {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    max-width: 674px;
  }
}

.subscribe__form {
  display: flex;
  width: 100%;
  max-height: 48px;
  max-width: 650px;
  margin: 0 auto;
}
@media (min-width: 1750px) {
  .subscribe__form {
    max-width: 653px;
  }
}

.subscribe__input {
  font-family: "Open sans", sans-serif;
  flex: 1;
  padding: 16px 12px;
  border: 1px solid rgb(231, 231, 231);
}
@media (min-width: 834px) {
  .subscribe__input {
    padding: 12px;
  }
}

.subscribe__input::-moz-placeholder {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: rgb(57, 57, 57);
}

.subscribe__input::placeholder {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: rgb(57, 57, 57);
}
@media (min-width: 834px) {
  .subscribe__input::-moz-placeholder {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
  }
  .subscribe__input::placeholder {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
  }
}

.subscribe__btn {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  font-family: "Open sans", sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgb(1, 1, 1);
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 16px;
  border: none;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
}
@media (min-width: 834px) {
  .subscribe__btn {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    padding: 10px 16px;
    width: 126px;
  }
}/*# sourceMappingURL=style.css.map */