*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(15, 15, 15, 1);
    font-family: "Roboto", sans-serif;
}
.content{
    padding: 10px;
}
.product{
    max-width: 1584px;
    margin: 0 auto;

}
.product__description{
    max-width: 1033px;

    background-color: rgba(194, 180, 163, 1);
    
}
.product__title{
    font-size: clamp( 48px,2vw,58px);
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    color: rgba(15, 15, 15, 1);
}
.product__text{
    font-size: clamp( 14px,1vw,18px);
    font-weight: 400;
    line-height: 1.5;
    color: rgba(31, 31, 31, 1);
}

