.main{
  width: 480px;
  height: 286px;
  margin: 64px auto;
  padding: 40px;
  box-sizing: border-box;

  border-radius: 12px;
  background-color: #FAF2E6;
  text-align: center;
}
.offer{
  width: 82px;
  height: 22px;
  margin: 0 auto 12px;
  line-height: 22px;
  box-sizing: border-box;

  font-family: "Pontano Sans",sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 12px;
  border: 1px solid #205529;
  border-radius: 4px;
  color: #205529;
}
.description{
  color: #205529;
  font-size: 36px;
  font-family: "Instrument Serif", sans-serif;
  font-weight: 400;
  line-height: 108%;
  margin: 0;
}
.save{
  margin: 15px auto 19px;
  
  font-family: "Pontano Sans",sans-serif;
  font-size: 14px;
  color: #205529;
}
.order{
  width: 121px;
  height: 43px;

  background-color: #205529;
  border-radius: 6px;
  border: none;
  color: #FAF2E6;
}